main {
    padding-block: 20px;
    margin-top: 80px;
  }
  
  .cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
  }
  
  .card {
    width: 310px;
    min-height: 250px;
    box-shadow: 0 0 4px #343434;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.3s ease;
    float: left;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .card:hover {
    box-shadow: 1px 1px 8px #232323;
    background-color: rgb(166, 199, 241);
    transform: translateY(-2px);
  }
  
  .card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 12px;
  }
  
